body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #0077b6;
  color: white;
  padding: 1rem;
  text-align: center;
}

#btn-reporte {
  background: #ffb703;
  color: #000;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
}

#btn-reporte:hover {
  background: #fb8500;
}

main {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

#buscador {
  background: #f1f1f1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#buscador input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#buscador button {
  padding: 0.5rem 1rem;
  background: #0077b6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#panel-info {
  width: 30%;
  overflow-y: auto;
  padding: 1rem;
  background: #f1f1f1;
}

.oculto {
  display: none;
}

#mapa {
  flex: 1;
  height: 100%;
}

section h2 {
  margin-top: 1rem;
}

.tarjeta {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tarjeta:hover {
  background: #e7f5ff;
}

.tarjeta.seleccionada {
  border: 2px solid #0077b6;
  background: #caf0f8;
}

/* estilos de reporte */

#reportes {
  padding: 2rem;
  background: #e9ecef;
  min-height: 100vh;
}

#form-reporte {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

#form-reporte h2 {
  text-align: center;
  color: #0077b6;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

#form-reporte label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
  color: #333;
}

#form-reporte input,
#form-reporte textarea {
  width: 95%;
  padding: 8px 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
  transition: all 0.2s ease-in-out;
}

#form-reporte textarea {
  resize: none;
}

#form-reporte input:focus,
#form-reporte textarea:focus {
  border-color: #0077b6;
  box-shadow: 0 0 5px rgba(0, 119, 182, 0.3);
  outline: none;
}

#form-reporte button {
  margin-top: 18px;
  width: 100%;
  padding: 10px;
  background-color: #0077b6;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#form-reporte button:hover {
  background-color: #005f87;
}
